* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
}

.navbar {
    background: #E20022;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

#navbar__logo {
    background-color: #ffe481;
    background-image: linear-gradient(to top, #ffe97d 0%, #ffd633 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

#tagline-container {
    font-size: 17px;
    color:#ffe481;
    width: 100%;
    white-space: nowrap;
    align-items: center;
    display: flex;
    margin: 0;
    padding: 0 0.5rem;
}

.fa-gem {
    margin-right: 0.5rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0 1rem;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 .5rem;
    height: 100%;
    font-size: 16px;
    white-space: nowrap;
}

.navbar__search {
    display: flex;
    align-items: center;
    padding: 0 .5rem;
    width: 100%;
    height: 100%;
    font-size: 13px;
}

.navbar__search form {
    background:#fff;
    width: 100%;
    height: 40px;
    display: flex;
    padding-left: 10px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 0;
    height: 40px;
    width: 75px;
    border: none;
    outline: none;
    font-size: 15px;
    background: #ffc125;
    color: white;
}

form input {
    flex: 1;
    border: none;
    outline: none;
}

.button:hover {
    background:#ffe97d;
    transition: all 0.3s ease;
}

.navbar__links:hover {
    color:#ababab;
    transition: all 0.3s ease;
}

.mobile-img-container {
    display: flex;
    align-items: center;
    padding: 0 50px;
}

#mobile__img {
    width: 100%;
    max-width: 650px;
    height: 100%;
    max-height: 400px;
    display: flex;
}


/* Phone */
@media only screen and (max-width: 450px) {
    .main__container {
        min-height: 860px;
    }

    #tagline-container {
        display: none;
    }
}

/* Tablet */
@media only screen and (max-width: 781px) {
    #tagline-container {
        display: none;
    }
}


/* Computer Screen */
@media screen and (min-width: 1024px) {
    .mobile-img-container {
        display: none;
    }

    .wrapper h3 {
        font-size: 30px;
        white-space: nowrap;
        margin-bottom: 5px;
    }

    .residency_container {
        display: flex;
        align-items: center;
        padding: 0 1rem;
        width: 700px;
        height: 30px;
        font-size: 15px;
        margin-bottom: 7px;
        border: .75px solid #141414;
    }

    .review_container {
        display: flex;
        align-items: center;
        width: 700px;
        font-size: 15spx;
        margin-bottom: 5px;
    }

    textarea {
        width: 700px;
        resize: none;
        padding: 1rem;
        border-radius: .5rem;
    }

    .main__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        align-items: center;
        justify-self: center;
        height: 90vh;
        z-index: 1;
        max-width: 1300px;
        max-height: 625px;
        padding: 0 50px;
    }

    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        margin: 0 auto;
        padding: 0 2rem;
    }
}

/* Smaller than computer screen */
@media screen and (max-width: 1023px) {
    .main__img--container {
        display: none;
    }

    .navbar__container {
        width: 100%;
        height: 80px;
        display: flex;
    }

    .main__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        align-items: center;
        justify-self: center;
        height: 90vh;
        margin-bottom: 80px;
        margin-left: 50px;
    }

    .navbar__links {
        display: none;
    }

    .residency_container {
        display: flex;
        align-items: center;
        max-width: 92.5%;
        width: 100%;
        border: .75px solid #141414;
        margin-bottom: 8px;
    }

    .wrapper h3 {
        max-width: fit-content;
        display: flex;
        margin-bottom: 20px;
        text-align: center;
        font-size: 20px;
    }

    .review_container {
        display: flex;
        max-width: 92.5%;
        width: 100%;
    }

    textarea {
        width: 100%;
        resize: none;
        padding: 1rem;
        border-radius: .5rem;
        display: flex;
        justify-content: center;
    }

    #title {
        display: none;
    }
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main__content h1 {
    font-size: 3rem;
    background-color: #E20022;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-style: italic;
    font-display: bold;
    width: 100%;
    height: 100%;
}

.main__content h2 {
    font-size: 1.5rem;
    background-color: #141414;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    width: 100%;
    height: 100%;
}

#main__img {
    width: 100%;
    max-width: 500px;
}

.review_system {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    padding: 2rem;
    max-width: 576px;
    align-items: center;
    display: flex;
    flex-direction: column;
    background: white;
    width: 100%;
    border-radius: .75rem;
    box-shadow: var(--shadow);
}

.residency_container form {
    width: 100%;
    display: flex;
}

.review_container form {
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.rating {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: .5rem;
    font-size: 2rem;
    color: #ffd633;
    margin-bottom: 20px;
}

.btn_group {
    display: flex;
    grid-gap: .5rem;
    align-items: center;
    margin-top: 7px;
}

.btn_group .btn {
    padding: .75rem 1rem;
    border-radius: .5rem;
    border: none;
    outline: none;
    font-size: .875rem;
}

.btn_group .btn.submit {
    background: #ffd633;
}

.btn_group .btn.submit:hover {
    background:#ffe97d;
}

.rating .star {
    cursor: pointer;
}

.rating .star:hover {
    transform: scale(1.2);
}

.rating .star.active {
    opacity: 0;
    animation: animate .5s ease-in-out forwards;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: scale(1);
    }
    50%  {
        opacity: 1;
        transform: scale(1.2);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}